<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
       
        .register-container {
            background-color: #007bff;; /* Dark container background color */
            padding: 40px;
            border-radius: 5px;
            width: 20%;
            margin: auto; /* Center horizontally */
            margin-top: 10vh; /* Center vertically */
        }

        .register-container h1 {
            margin-bottom: 20px;
            text-align: center;
        }

        .register-form {
            display: flex;
            flex-direction: column;
        }

        .register-form label {
            margin-bottom: 10px;
            font-weight: bold;
        }

        .register-form input[type="text"],
        .register-form input[type="password"],
        .register-form input[type="email"] {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #555; /* Darker border */
            border-radius: 3px;
            box-sizing: border-box;
        }

        .register-form input[type="submit"] {
            padding: 10px;
            border: none;
            border-radius: 3px;
            background-color: orange; /* Primary button color */
            color: #fff; /* Light text color */
            cursor: pointer;
            transition: background-color 0.3s ease; /* Smooth hover transition */
        }

        .register-form input[type="submit"]:hover {
            background-color: #0056b3; /* Darker hover color */
        }

        @media only screen and (max-width: 1100px) {
 .register-container {
    width: 30%;
 }
}
 @media only screen and (max-width: 950px) {
 .register-container {
    width: 40%;
 }
 }

  @media only screen and (max-width: 700px) {
 .register-container {
    margin-top: 30%;
    width: 50%;
 }
}
    </style>
</head>
<body>
    <div class="register-container">
        <h1>Register</h1>
        <form class="register-form" action="/user" method="POST">
        <label for="username" >Username:</label>
            <input type="text" placeholder="username" id="username" name="username">
            <label for="email">Email:</label>
            <input type="email" placeholder="email" name="email">
            <label for="password">Password:</label>
            <input type="password" placeholder="password" id="password" name="password">
            <input type="submit" value="REGISTER">
        </form>
    </div>
</body>
</html>
